<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>信箱</title>
    <!-- zui -->
    <link href="__STATIC__/index/css/zui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/mailbox.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/details.css">
  </head>
  <body>
  {include file='hohead'/}
    <div class="mailbox-wraper">
      <div class="container">
       {include file='heademailbox'/}
        <!-- 党委信箱 -->
        <div class="mailbox-right">
          <div class="panel left-panel letter-panel">
     
             
            <div class="panel-body">
              <div class="items">
                <div class="item frist-item">
                  <div class="item-content">
                    <div class="text-title">信件详情
                    </div>
                  </div>
                </div>
              </div>
              <div id="foldzone" class="foldzone">
                
                <header>
                  <p class="details-title">{$content.mess.name}</p>
                  <div class="common-sub-title">
                    <div class="letter-type">{$content.mess.typename}</div>
                    <dl class="dl-inline">
                    <dt></dt>
                    <dd class="letter-date">{$content.mess.createtime}</dd>
                    <dt class="letter-questioner">被提问人：</dt>
                    <dd class="">{$content.mess.headername}</dd>
                  </dl>
                  </div>
                </header>
                <section class="content">
                  <p class="question-content">{$content.mess.content}</p>
                  {if condition="!empty($content.reply)"}
                   {if condition="$content.reply.type eq 1"}
                  <div class="answer-content-wrap">
                    <p class="answer-title"><i class="icon icon-reply reply-button"></i>信件回复<span>{$content.reply.createtime}</span></p>
                    <p class="answer-content">{$content.reply.content}</p>
                  </div>
                  {else/}
                  <div class="">
                  <p class="answer-title"><i class="icon icon-question-sign" style="color: #c30d23"></i>追问<span>{$content.reply.createtime}</span></p>
                      <p class="question-content">{$content.reply.content}</p>
                  </div>
                  {/if}
                  {/if}
                </section>
                  
                <section class="content">
                  <div class="hiddens-fold" id="hidden-fold">
                      {foreach name="$content.other" item="co"}
                        {if condition="$co.type eq 2"}
                        <div class="" style="margin-top:20px;">
                            <p class="answer-title"><i class="icon icon-question-sign" style="color: #c30d23;"></i>追问<span>{$co.createtime}</span></p>
                            <p class="question-content">{$co.content}</p>
                        </div>
                        {else/}
                        
                         <div class="answer-content-wrap">
                           <p class="answer-title"><i class="icon icon-reply reply-button"></i>追问回复<span>{$co.createtime}</span></p>
                           <p class="answer-content">{$co.content}</p>
                         </div>
                        {/if}
                    
                      {/foreach}
                  </div>
                </section>
              
              </div>
              <p class="fold-p">
                <a id="fold-open-close-button" data-type="1" class="">展开全部 <i class="icon icon-chevron-down"></i></a>
              </p>
              <p class="">
                    <button class="btn inquiries" id="inquiries" type="button" data-toggle="collapse" data-target="#collapseExample12" data-id="1">继续追问</button>
                  </p>
                  <form method="post" >
                  <div class="collapse" id="collapseExample12">
                    <div class="with-padding">
                       
                      <textarea class="form-control" rows="10" placeholder="请输入问题" name="content" id="replycontent"></textarea>
                      <button class="btn inquiries-button" type="button" id="replybutton">提交</button>
                      <a class="btn return-btn" href="">返回</a>
                    </div>
                  </div>
                   
                  <a class="btn return-btn" id="zone-return" href="{:url('/headindex',array('id'=>$selectid))}">返回</a>
                  </form>
            </div>
          </div>
        </div>
      </div>
    </div>
           <!-- 模态框 -->
<div class="modal fade" id="letter-query-button">
<div class="modal-dialog modal-sm">
<div class="modal-content">
<div class="modal-header open-common-header" style=" background: #f2f2f2;
border-radius: 4px 4px 0 0;">
<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">关闭</span></button>
<div class="" style="text-align: center;
font-size: 22px;
color: #333;">
信息提示
</div>
</div>
<div class="modal-body return-modal">
<p style=" font-size: 16px;
color: #333;">提交成功,审核通过后将会回复并显示您的追问消息。</p >
</div>
<div class="modal-footer" style="text-align: center;padding: 15px;">
<button type="button"  id="letter-query-button-submit" class="btn btn-return btn-return-qd" style=" width: 90px;">确定</button>
</div>
</div>
</div>
</div>
<div id="finished" data-toggle="modal" data-target="#letter-query-button" ></div>
    <!-- jQuery (ZUI中的Javascript组件依赖于jQuery) -->
    <script src="__STATIC__/index/js/jquery-3.3.1.min.js"></script>
    <!-- ZUI Javascript组件 -->
    <script src="__STATIC__/index/js/zui.min.js"></script>
    <script type="text/javascript">
        
      $('#inquiries').on('click',function(){
        var dataId = $(this).attr("data-id");
        console.log();
        if (dataId == "1") {
          $(this).attr("data-id","2");
          $(this).html("取消追问");
          $('#zone-return').css("display","none");
        }
        else{
          $(this).attr("data-id","1");
          $(this).html("继续追问");
          $('#zone-return').css("display","block");
        }
      })
      // 展开全部
      
      $(document).ready(function(){
        $("#fold-open-close-button").on('click',function(){
          var datatype = $(this).attr("data-type");
        console.log(datatype);
        if (datatype == "1") {
          $(this).attr("data-type","2");
          $(this).html('收起全部 <i class="icon icon-chevron-up"></i>');
          $("#hidden-fold").show(200);
        }
        else{
          $(this).attr("data-type","1");
          $(this).html('展开全部 <i class="icon icon-chevron-down"></i>');
          $("#hidden-fold").hide(200);
        }
          
        })
      })
      $('.mailbox-list>.mailbox-item').on('click',function(){
        console.log($(this));
        $(this).addClass('active').siblings().removeClass('active');
      })
      
      $('#replybutton').on('click',function(){
         
          var pid={$content.mess.id};
          var content=$("#replycontent").val();
          $.ajax({
        type:"post",
        url:'{:url(\'Details/submitQuestion\')}',
        dataType: "json",
        data:{"p_id":pid,"content":content},
        success: function(data){
            
            if(data.code==1){
                $("#finished").click();
               
            }
        }
       });
      })
      $('#letter-query-button-submit').on('click',function(){
           window.location.href=window.location.href;
      });
    </script>
    {include file="commonfoot"/}
  </body>
</html>