<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>信箱</title>
    <!-- zui -->
    <link href="__STATIC__/index/css/zui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/mailbox.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/write.css">
  </head>
  <body>
  {include file='hohead'/}


    <div class="mailbox-wraper">
      <div class="container">
        {include file='heademailbox'/}
        <!-- 党委信箱 -->
        <div class="mailbox-right">
          <div class="panel left-panel">
            <div class="panel-body">
              <div class="items">
                <div class="item frist-item">
                  <div class="item-content">
                    <div class="text-title">{$selectname}信箱</div>
                  </div>
                </div>
              </div>
                {foreach name="emaillist.data" item="el"}
              <div class="items items-hover">
                <div class="item">
                  <div class="item-content">
                    <div class="text-content-title">
                        {if condition="$el.is_public neq 1"}
                        <a  data-toggle="modal" data-target="#letter-query-button{$el.id}" href="#">{$el.name}
                          {else/}
                          <a  href="{:url('Details/index',array('id'=>$el.id))}"  >{$el.name}
                          
                          {/if}
                        <div class="text-content-title-right">
                          <span class="text-muted">{$el.createtime}</span>
                        <span class="text-state">{$el.replyname}</span>
                        </div>
                          </a>
                        </a>
                    </div>

                  </div>
                </div>
              </div>
                {/foreach}
                {$page}
                <br/>
              <div class="page-wraper">
<!--                <div class="page-notes">每页10条数据/共100条数据</div>-->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery (ZUI中的Javascript组件依赖于jQuery) -->
    <script src="__STATIC__/index/js/jquery-3.3.1.min.js"></script>
    <!-- ZUI Javascript组件 -->
    <script src="__STATIC__/index/js/zui.min.js"></script>
    <script>
    
        {foreach name="emaillist.data" item="el"}
    {if condition="$el.is_public neq 1"}
   $('#letter-query-button-submit{$el.id}').on('click',function(){
       //获取信件id
       var id={$el.id};
       //获取信件密码
       var pwd=$("#inputpassword{$el.id}").val();
       //验证密码是否正确
       $.ajax({
        type:"post",
        url:'{:url(\'Details/validpwd\')}',
        dataType: "json",
        data:{"id":id,"pwd":pwd},
        success: function(data){
            
            if(data.code==1){
                window.location.href='{:url(\'Details/index\')}'+'?id='+id+'&pwd='+pwd;
            }else{
                alert(data.msg);
                return;
            }
        }
       });
       
        
        //href="{:url('stdetails/index',array('id'=>$el.id))}"
      })
      {/if}
   {/foreach} 
      $('.mailbox-list>.mailbox-item').on('click',function(){
        console.log($(this));
        $(this).addClass('active').siblings().removeClass('active');
      })
    </script>
    {include file="commonfoot"/}
  </body>
</html>