<header>
    <div class="">
        <img src="__STATIC__/index/images/st-header-top.png" class="mailbox-top-img">
        <div class="container bgimg-wrapper">
            <div class="input-group">
                <div class="input-control search-box has-icon-left has-icon-right search-example" id="searchboxExample">
                    <input id="inputSearchExample3" type="search" class="form-control search-input header-input" placeholder="搜索">
                    <label for="inputSearchExample3" class="input-control-icon-right search-icon"><i class="icon icon-search header-icon-search"></i></label>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="container">
            <nav class="navbar mailcox-nav" role="navigation">
                <ul class="nav navbar-nav nav-justified">
                    <li class="active"><a href="your/nice/url/1">网站首页</a></li>
                    <li><a href="your/nice/url/2">新闻中心</a></li>
                    <li><a href="your/nice/url/3">强军思想</a></li>
                    <li><a href="your/nice/url/2">备战打仗</a></li>
                    <li><a href="your/nice/url/2">工作指导</a></li>
                    <li><a href="your/nice/url/2">学习教育</a></li>
                    <li><a href="your/nice/url/2">先锋文化</a></li>
                    <li><a href="your/nice/url/2">互动交流</a></li>
                    <li><a href="your/nice/url/2">为兵服务</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>