<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>信件详情</title>
    <!-- zui -->
    <link href="__STATIC__/index/css/zui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/st-common.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/st-details.css">
  </head>
  <body>
  {include file="stcommonhead" /}
    <div class="mailbox-wraper">
      <div class="container">
         {include file="emailbox" /}  
        <!-- 信件详情 -->
        <div class="mailbox-right">
          <div class="panel left-panel letter-panel">
            <div class="panel-body">
              <div class="items">
                <div class="item frist-item">
                  <div class="item-content">
                    <div class="text-title">信件详情
                    </div>
                  </div>
                </div>
              </div>
              <div id="foldzone" class="foldzone">
                <div class="custom-detail-header">
                  <header>
                    <p class="details-title">{$content.mess.name}</p>
                    <div class="common-sub-title">
                      <div class="letter-type">{$content.mess.typename}</div>
                      <dl class="dl-inline">
                      <dt></dt>
                      <dd class="letter-date">{$content.mess.createtime}</dd>
                      <dt class="letter-questioner">被提问人：</dt>
                      <dd class="letter-questioner-name">{$content.mess.departmentname}</dd>
                    </dl>
                    </div>
                  </header>
                  <section class="content">
                    <p class="question-content">{$content.mess.content}</p>
                  </section>
                </div>
                  {if condition="!empty($content.reply)"}
                <section>
                    {if condition="$content.reply.type eq 1"}
                  <div class="answer-content-wrap answer-content-wrap-bg">
                      <p class="answer-title"><i class="icon icon-reply reply-button"></i>信件回复<span>{$content.reply.createtime}</span></p>
                      <p class="answer-content" style="padding-bottom: 5px;">{$content.reply.content}</p>
                    </div>
                   {else/}
                     <div class="">
                      <p class="answer-title"><i class="icon icon-question-sign"></i>追问<span>{$content.reply.createtime}</span></p>
                      <p class="question-content-zw" style="padding-bottom: 5px;">{$content.reply.content}</p>
                    </div>
                   {/if}
                </section>
                  {/if}
                <section class="content">
                  <div class="hiddens-fold" id="hidden-fold">
                    <div class="">
                        {foreach name="$content.other" item="co"}
                        {if condition="$co.type eq 1"}
                      <div class="">
                          {else/}
                        <p class="answer-title"><i class="icon icon-question-sign"></i>追问<span>{$co.createtime}</span></p>
                        <p class="question-content-zw">{$co.content}
                        </p>
                      </div>
                      <div class="answer-content-wrap answer-content-wrap-bg">
                        <p class="answer-title custom-answer-title"><i class="icon icon-reply reply-button"></i>追问回复<span>{$co.createtime}</span></p>
                        <p class="answer-content custom-backcolor">{$co.content}</p>
                      </div>
                        {/if}
                      
                        {/foreach}
                    </div>
                  </div>
                </section>
              </div>
              <p class="fold-p">
                <a id="fold-open-close-button" data-type="1" class="">展开全部 <i class="icon icon-chevron-down"></i></a>
              </p>
              <div class="custom-footer-btn">
                <button class="btn inquiries" id="inquiries" type="button" data-toggle="collapse" data-target="#collapseExample12" data-id="1">继续追问</button>
                <a class="btn return-btn" id="zone-return" href="{:url('home/Index/index',array('id'=>$selectid))}">返回</a>
              </div>
              <form method="post" action="{:url('Stdetails/submitQuestion')}">
                  <div class="collapse" id="collapseExample12">
                    <div class="with-padding">
                      <textarea class="form-control" rows="10" placeholder="请输入问题" name="content"></textarea>
                      <div class="custom-btn-color">
                          <button class="btn inquiries-button" type="submit" >提交</button>
                          <input TYPE='hidden' name="p_id"value="{$content.mess.id}"/>
                          <button class="btn inquiries-button-return" id="inquiries" type="button" data-toggle="collapse" data-target="#collapseExample12" data-id="1" >取消追问</button>
                        <!-- <button class="btn inquiries-button-return" type="button">取消追问</button> -->
                      </div>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery (ZUI中的Javascript组件依赖于jQuery) -->
    <script src="__STATIC__/index/js/jquery-3.3.1.min.js"></script>
    <!-- ZUI Javascript组件 -->
    <script src="__STATIC__/index/js/zui.min.js"></script>
    <script type="text/javascript">
      // $('#inquiries').on('click',function(){
      //   var dataId = $(this).attr("data-id");
      //   console.log();
      //   if (dataId == "1") {
      //     $(this).attr("data-id","2");
      //     $(this).html("取消追问");
      //   }
      //   else{
      //     $(this).attr("data-id","1");
      //     $(this).html("继续追问");
      //   }
      // })
      // 展开全部
      
      $(document).ready(function(){
        $("#fold-open-close-button").on('click',function(){
          var datatype = $(this).attr("data-type");
        console.log(datatype);
        if (datatype == "1") {
          $(this).attr("data-type","2");
          $(this).html('收起全部 <i class="icon icon-chevron-up"></i>');
          $("#hidden-fold").show(200);
        }
        else{
          $(this).attr("data-type","1");
          $(this).html('展开全部 <i class="icon icon-chevron-down"></i>');
          $("#hidden-fold").hide(200);
        }
          
        })
      })
      $('.mailbox-list>.mailbox-item').on('click',function(){
        console.log($(this));
        $(this).addClass('active').siblings().removeClass('active');
      })
    </script>
  </body>
</html>