<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>信件详情</title>
    <!-- zui -->
    <link href="__STATIC__/index/css/zui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/st-common.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/st-details.css">
  </head>
  <body>
  {include file="stcommonhead" /}
    <div class="mailbox-wraper">
      <div class="container">
        <div>
          <div class="bread-current">
            <i class="icon icon-home bread-icon"></i>
            <span>当前位置：</span>
          </div>
          <!-- 面包屑导航 -->
          <ol class="breadcrumb">
            <li><a href="index.html">首页</a></li>
            <li><a href="st-mailbox.html">兵情直通车</a></li>
            <li class="active">信件详情</li>
          </ol>
        </div>
        <!-- 二级导航 -->
        <div class="panel border-none">
          <div class="panel-body custom-panel-body">
            <a href="./st-writer.html" class="panel-heading custom-panel-heading">
              <img src="images/st-xx.png" class="st-xx">
              写信
            </a>
          </div>
          <div class="panel-footer custom-panel-footer">
            <nav class="navbar" role="navigation">
              <div class="container-fluid">
                <div class="navbar-header">
                  <ul class="nav nav-secondary">
                    <li class=""><a href="your/nice/url">首长信箱</a></li>
                    <li><a href="your/nice/url">后勤部长信箱</a></li>
                    <li><a href="your/nice/url">党委信箱</a></li>
                    <li class="active"><a href="your/nice/url">首长信箱</a></li>
                    <li><a href="your/nice/url">后勤部长信箱</a></li>
                    <li><a href="your/nice/url">组织部信箱</a></li>
                  </ul>
                </div>
                <div class="collapse navbar-collapse navbar-collapse-example">

                  <!-- 导航中的表单 -->
                  <form class="navbar-form custom-navbar-form" role="search">
                    <div class="input-control search-box has-icon-left has-icon-right search-example" id="searchboxExample">
                      <input id="inputSearchExample9" type="search" class="form-control search-input" placeholder="输入信件号">
                      <label for="inputSearchExample9" class="input-control-icon-right search-icon"><i class="icon icon-search"></i></label>
                    </div>
                  </form>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <!-- 信件详情 -->
        <div class="mailbox-right">
          <div class="panel left-panel letter-panel">
            <div class="panel-body">
              <div class="items">
                <div class="item frist-item">
                  <div class="item-content">
                    <div class="text-title">信件详情
                    </div>
                  </div>
                </div>
              </div>
              <div id="foldzone" class="foldzone">
                <div class="custom-detail-header">
                  <header>
                    <p class="details-title">您好，我想请教一下军人转业的问题？</p>
                    <div class="common-sub-title">
                      <div class="letter-type">咨询</div>
                      <dl class="dl-inline">
                      <dt></dt>
                      <dd class="letter-date">2016.8.12</dd>
                      <dt class="letter-questioner">被提问人：</dt>
                      <dd class="letter-questioner-name">后勤部长</dd>
                    </dl>
                    </div>
                  </header>
                  <section class="content">
                    <p class="question-content">HTML5是HTML最新的修订版本，2014年10月由（W3C）完成标准制定。目标是替换1999年所制定的HTML 4.01和XHTML 1.0标准。目标是替换1999年所制定的HTML 4.01和XHTML 1.0标准。</p>
                  </section>
                </div>
                <section>
                  <div class="answer-content-wrap answer-content-wrap-bg">
                      <p class="answer-title"><i class="icon icon-reply reply-button"></i>信件回复<span>2018.07.02</span></p>
                      <p class="answer-content" style="padding-bottom: 5px;">HTML 5草案的前身名为Web Applications 1.0，是在2004年由WHATWG提出。2008年1月22日，第一份正式草案发布。HTML 5草案的前身名为Web Applications 1.0，是在2004年由WHATWG提出。2008年1月22日，第一份正式草案发布。HTML 5草案的前身名为Web Applications 1.0，是在2004年由WHATWG提出。2008年1月22日，第一份正式草案发布。</p>
                    </div>
                </section>
                <section class="content">
                  <div class="hiddens-fold" id="hidden-fold">
                    <div class="">
                      <div class="">
                        <p class="answer-title"><i class="icon icon-question-sign"></i>追问<span>2018.07.02</span></p>
                        <p class="question-content-zw">HTML5是HTML最新的修订版本，2014年10月由（W3C）完成标准制定。目标是替换1999年所制定的HTML 4.01和XHTML 1.0标准，使网络标准达到匹配当代的网络需求。
                        </p>
                      </div>
                      <div class="answer-content-wrap answer-content-wrap-bg">
                        <p class="answer-title custom-answer-title"><i class="icon icon-reply reply-button"></i>追问回复<span>2018.07.02</span></p>
                        <p class="answer-content custom-backcolor">HTML 5草案的前身名为Web Applications 1.0，是在2004年由WHATWG提出。2008年1月22日，第一份正式草案发布。2008年1月22日，第一份正式草案发布。HTML 5草案的前身名为Web Applications 1.0，是在2004年由WHATWG提出。2008年1月22日，第一份正式草案发布。
                      HTML 5草案的前身名为Web Applications 1.0，是在2004年由WHATWG提出。2008年1月22日，第一份正式草案发布。</p>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <p class="fold-p">
                <a id="fold-open-close-button" data-type="1" class="">展开全部 <i class="icon icon-chevron-down"></i></a>
              </p>
              <div class="custom-footer-btn">
                <button class="btn inquiries" id="inquiries" type="button" data-toggle="collapse" data-target="#collapseExample12" data-id="1">继续追问</button>
                <a class="btn return-btn" id="zone-return" href="st-mailbox.html">返回</a>
              </div>
                  <div class="collapse" id="collapseExample12">
                    <div class="with-padding">
                      <textarea class="form-control" rows="10" placeholder="请输入问题"></textarea>
                      <div class="custom-btn-color">
                        <button class="btn inquiries-button" type="button">提交</button>
                        <button class="btn inquiries-button-return" id="inquiries" type="button" data-toggle="collapse" data-target="#collapseExample12" data-id="1">取消追问</button>
                        <!-- <button class="btn inquiries-button-return" type="button">取消追问</button> -->
                      </div>
                    </div>
                  </div>
                  
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery (ZUI中的Javascript组件依赖于jQuery) -->
    <script src="__STATIC__/index/js/jquery-3.3.1.min.js"></script>
    <!-- ZUI Javascript组件 -->
    <script src="__STATIC__/index/js/zui.min.js"></script>
    <script type="text/javascript">
      // $('#inquiries').on('click',function(){
      //   var dataId = $(this).attr("data-id");
      //   console.log();
      //   if (dataId == "1") {
      //     $(this).attr("data-id","2");
      //     $(this).html("取消追问");
      //   }
      //   else{
      //     $(this).attr("data-id","1");
      //     $(this).html("继续追问");
      //   }
      // })
      // 展开全部
      
      $(document).ready(function(){
        $("#fold-open-close-button").on('click',function(){
          var datatype = $(this).attr("data-type");
        console.log(datatype);
        if (datatype == "1") {
          $(this).attr("data-type","2");
          $(this).html('收起全部 <i class="icon icon-chevron-up"></i>');
          $("#hidden-fold").show(200);
        }
        else{
          $(this).attr("data-type","1");
          $(this).html('展开全部 <i class="icon icon-chevron-down"></i>');
          $("#hidden-fold").hide(200);
        }
          
        })
      })
      $('.mailbox-list>.mailbox-item').on('click',function(){
        console.log($(this));
        $(this).addClass('active').siblings().removeClass('active');
      })
    </script>
  </body>
</html>